.inputs {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.inputs > * {
  margin-bottom: 0.3rem;
}

.inputs > div {
  display: inherit;
  justify-content: space-between;
}

.inputs > div > label, .error-message {
  font-size: 1.2rem;
  font-weight: bold;
}

.error-message, .email-error, .email-error::placeholder {
  color: tomato;
}

.inputs > input {
  padding: 1.5rem;
  border-radius: 0.8rem;
}

.inputs > input[type="text"] {
  border: 0.15rem solid hsl(231, 7%, 60%);
  margin-bottom: 2rem;
}
.inputs > input[type="text"]:focus {
  outline: none;
  border-color: black;
  caret-color: hsl(231, 7%, 60%);
}
.email-error, .email-error:focus {
  outline: none;
  background-color: rgba(255, 147, 128, 0.418);
  border-color: tomato !important;
}