.container {
  max-width: 375px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 1440px;
    background-color: white;
    border-radius: 1.5rem;

    display: grid;

    grid-template-areas: "infos svg";

    padding: 2rem;
  }

  .container > :first-child {
    grid-area: svg;
  }
  .container > :last-child {
    grid-area: infos;
  }

  .info-wrapper {
    margin-right: 2rem;
  }
}
