.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .container {
    display: grid;

    grid-template-areas: "infos svg";

    margin: 2rem;
  }

  .container > :first-child {
    grid-area: svg;
  }
  .container > :last-child {
    grid-area: infos;
  }

  .info-wrapper {
    margin-right: 2rem;
  }
}
