#root {
  max-width: 375px;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;

  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 375px) {
  body {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 5rem;
    background-color: hsl(235, 18%, 26%);
  }

  #root {
    max-width: 1440px;

    background-color: white;
    border-radius: 1.5rem;
  }


  .container {
    display: grid;

    grid-template-areas: "infos svg";

    margin: 2rem;
  }

  .container > :first-child {
    grid-area: svg;
  }
  .container > :last-child {
    grid-area: infos;
  }

  .info-wrapper {
    margin-right: 2rem;
  }
}
