#root {
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;

  overflow-x: hidden;
}

@media screen and (min-width: 375px) {
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}